// @import '~antd/dist/antd.css';

.register-form {
    max-width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 100px !important;
}
  .register-form-forgot {
    float: right;
  }
  .register-form-button {
    width: 100%;
  }